$aligning-center: "center";
$nice-background: "linear-gradient(45deg, rgb(156, 14, 156), midnightblue)";
$green-background: #63A375;
$old-color: #713E5A;
$tworm-padding: 2rem;
$border-top: "1px solid rgba(255, 255, 255, 0.555)";
$no-bullet: "none";
$larger-font: "x-large";
html,body{
    background-color: #FCF5C7;
}
/*-----------------------------------------------------NAV-------------------------------------------------------*/


.list {
    list-style-type: $no-bullet;
    background: $green-background;
    height: 100%;
    display: flex;
    justify-content: $aligning-center;
    align-items: $aligning-center;
    position: relative;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
    
}
a{
    color: $old-color;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}
/*----------------------------------------------Header---------------------------------------------------*/
.header-class{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    
}
.Name{
    font-size:x-large;
}
/*------------------------------------------------ABOUTME-------------------------------------------------*/
.about-me{
    display: grid;
    grid-template-columns: .4fr 1fr;
    margin-top: 10rem;
    background-color: #79ADDC;
}
.about-me-text{
    font-size: x-large;
}
/*------------------------------------------------SERVICES---------------------------------------------------*/
.my-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;

}
/*------------------------------------------------PROJECTS----------------------------------------------------*/
.projects-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
    background-color: #ADF7B6;
}
/*-------------------------------------------------CONTACT----------------------------------------------------*/
.contact-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    
}
.contact-me-form{
    
}
@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: $border-top;
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: $border-top;
        text-align:  $aligning-center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}